html{
    background: #D5D8DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D5D8DC, #E5E8E8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D5D8DC, #E5E8E8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
}

body{
    color: #17202A;
}
table {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-collapse: collapse;
    width: 60%;
}
th, td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
.headerBig{
    color: #17202A;
    padding-bottom: 20px;
    text-align: center;
    font-size:xx-large;
}
.headerMedium{
    color: #17202A;
    padding-bottom: 20px;
    text-align: center;
    font-size:large;
}