html{
    background: #D5D8DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D5D8DC, #E5E8E8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D5D8DC, #E5E8E8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Crimson Pro', sans-serif;
    font-size: large;
}

body{
    color: #17202A;
}
form{
    margin: auto;
    margin-top: 10px;
    width: 180px;
    height: 400px;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.contenedorForms{
    margin-top: 10%;
}
.tarjetaColorCSS{
    background-color: white;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    width: 180px;
    height: 300px; 
    margin: auto;
    border-radius: 10px;
    visibility: hidden;
}
.colores{
    background-color: black;
    margin: auto;
    width: 170px;
    height: 250px;
    border-radius: 10px;
}

.inputs{
    text-align: center;
    font-family: 'Crimson Pro','sans-serif';
    font-size: large;
    border: none;
    margin: auto;
    border-radius: 10px;
}
.contenedorBoton{
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
}
.boton{
    background-color:#e56b6f;
    border: none;
    padding: 13px 32px;
    margin: auto;
    text-align: center;
    font-family: 'Crimson Pro','sans-serif';
    font-size: large;
    font-weight: bold;
    border-radius: 10px;
}